<h1>Trudy Trends</h1>

<!--<tbody>-->
<!--    <% @trudy_trends.each do |p| %>-->
<!--    <tr>-->
<!--        <td>-->
<!--          <%= p.time %>-->
          
<!--        </td>-->
<!--    </tr> -->
<!--    <% end %>-->
<!--</tbody>-->
<body>
    <div class="container">
        <%= column_chart TrudyTrend.group_by_day_of_week(:time, format: "%a").count, width: "800px", height: "480px", xtitle: "Day Of the Week", ytitle: "Total Entries", min:0, max:60%>
        <%= column_chart TrudyTrend.group_by_hour_of_day(:time, format: "%-l %P").group_by_day_of_week(:time, format: "%a").count, width: "800px", height: "480px", xtitle: "Hour of the day", ytitle: "Total Entries", min:0, max:15%>
    </div>
</body>





        


        




