<!DOCTYPE html>
<html>
  <body>
    <header>
      <h1 class="text-center">Trudy Fitness Center Current Capacity by Floor</h1>
    </header>
  
  <div id = "container">
    
    <div id = "player1">
      <div id="p1score">
        <h1>Top Floor</h1>
        <ul>
          <li class="scoreblock minus" >
            0
          </li>
          <li id="p120" class="scoreblock" value=20></li>
          <li class="scoreblock plus" >0</li>
        </ul>
      </div>
    </div>
    
    <div id = "player2">
      <div id="p2score">
       <h1>Bottom Floor</h1>       
       <ul>
         <li class="scoreblock minus" >0</li>
         <li id="p220" class="scoreblock" value=20></li>
         <li class="scoreblock plus" >0</li>
       </ul>
     </div>
    </div>
    
  </div>
  
  </body>
</html>
