<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h1> Current Occupancy # </h1>
      <h2> Position in Queue # </h2>
      <button type="button" class="btn-dark btn-lg"> <%= link_to "Join Queue", pages_home_path %> </button>
      <button type="button" class="btn-dark btn-lg"> <%= link_to "Admin Sign In", pages_home_path %> </button>
    </div>
  </body>
</html>
