<!DOCTYPE html>
<html>
  <div>
    <body>
      <h1> Current Occupancy # </h1>
      <h2> Position in Queue # </h2>
      <h3> 
      <%= link_to "Join Queue", pages_home_path %>
      </h3>
      <h4> 
      <%= link_to "Sign in", pages_home_path %>
      </h4>
    </body>
  </div>
</html>
