*{
  font-family: 'Marcellus SC', serif;
  font-weight: 200;
  margin: 0;
  padding:  0;
  text-align: center;
}

#container{
  width: 100%;
}

#position{
  background-color: #e6f3ff;
  border-radius: 30px;
  width: 60%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

#top{
  background-color: rgba(0,0,0,0.8);
  border-radius: 30px;
  width: 57%;
  height: 330px;
  margin-right: 20px;
  float: left;
  margin-top: 30px;
}

#bottom{
  background-color: rgba(0,0,0,0.4);
  border-radius: 30px;
  width: 57%;
  height: 330px;
  margin-right: 20px;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

#wait{
  background-color: #821019;
  border-radius: 30px;
  width: 28%;
  height: 330px;
  margin-left: 20px;
  float: left;
  margin-top: 30px;
}

#top h1,
#bottom h1,
#wait h1{
  font-size: 60px;
  color: white;
  line-height: 100px;
}

#label-container-child {
  color: white;
  float: left;
}

.gym_values {
  font-size: 100px;
  margin-left: 70px;
  margin-right: 70px;
}

.gym_labels {
  font-size: 20px;
  margin-left: 90px;
  margin-right: 90px;
}

.minus:hover,
.plus:hover{
  background-color: rgba(255,255,255, 0.3);
}

.minus:active,
.plus:active{
  background-color: rgba(255,255,255, 0.7);
}

.topnav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 38px;
  padding-bottom: 7px;
}

#title {
  margin-top: 10px;
  padding: 10px;
  font-size: 65px;
}

#login {
  background-color: rgba(0,0,0,0.8);
  border-radius: 30px;
  width: 45%;
  height: 335px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#signup {
  background-color: rgba(0,0,0,0.4);
  border-radius: 30px;
  width: 45%;
  height: 410px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.field {
  padding-top: 25px;
  color: white;
  font-size: 23px;
}

.floor-field {
  padding-top: 15px;
  color: white;
  font-size: 23px;
  padding-bottom: 20px;
}

.remember {
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-size: 16px;
}

#submit {
  padding-top: 20px;
}
