// Place all the styles related to the Tickets controller here.
//
h3 {
  font-family: 'Marcellus SC', serif;
  font-weight: 200;
  margin: 0;
  padding:  0;
  text-align: center;
}

p {
 text-align: left;
 margin-left: 30px;
}

button {
 display:inline-block;
 padding: 0.2em 1.45em;
 margin: 0.1em;
 border: 0.15em solid #CCCCCC;
 font-family:'Segoe UI','Roboto', sans-serif;
 font-weight: 400;
 background-color: #CCCCCC;
 text-align: center;
 position: relative;
 text-decoration: none;
}

button a:link, .button a:visited, .button a:hover, .button a:active {
 text-decoration: none;
 color: black;
}

button:hover{
 border-color:#7a7a7a;
 background-color:#efeff5;
}

.occupancy{
 font-family:'Segoe UI','Roboto', sans-serif;
 font-weight: 400;
 font-size: 30px;
 text-align: right;
 padding-right: 25px;
 padding-left: 10px;
 background-color: #e6f3ff;
}

strong{
 font-size: 125%;
}

.center_table,{
 margin-left: auto;
 margin-right: auto;
 border: 1px solid black;
 
}

#top_plus, #top_minus, #bottom_plus, #bottom_minus {
 font-size: 20px; 
}




